xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="actions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="action" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:choice>
                                <xsd:element name="order" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="clientId" type="xsd:integer"/>
                                            <xsd:element name="articleId" maxOccurs="unbounded"
                                                        type="xsd:integer"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>

                                <xsd:element name="supply" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="supplierId" type="xsd:integer"/>
                                            <xsd:element name="articlesList" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="article" maxOccurs="unbounded">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="articleId" type="xsd:integer"/>
                                                                    <xsd:element name="quantity" type="xsd:integer"/>
                                                                    <xsd:element name="articlePrice" type="xsd:decimal"/>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:choice>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:integer" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>